h1 {
  color: #212738;
  text-decoration: overline underline 10px #467599 ;
}

body {
  background-color: #9ED8DB;
}
           
img:hover{
  width: 50%;
}

h1:hover{
  color: #212738;
  text-decoration: overline underline 10px #467599 ;
  text-shadow: 2px 2px red;
}

nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

li a {
  text-decoration: none;
  color: white;
  display: block;
  float: left;
  padding: 15px 50px;
}

li a:hover {
  background-color: #9ED8DB;
  color: black;
}
